:root {
    --mainColor: #141611;
    --secondaryColor: #0b0f07;
    --borderColor: #161914;
    --mainText: #fff;
    --secondaryText: #eeeeee;
    --themeDotBorder: #FFF;
    --previewBg: rgba(12, 14, 10, 0.192);
    --previewShadow: #2f1431;
    --buttonColor: #0f130f6b;
}

.nav-wrapper {
    border-bottom: 1px solid #eeeeee;
    background-color: #0b0f07;
}

#preview-shadow {
    background-color: #ffffff6b;
}

#skills {
    background-color: #ffffff6b;
}

#preview {
    border: 1.5px solid #ffffff;
}

.corner {
    border: 1.5px solid #ffffff;
}


/* Contact Form */

#contact-form {
    border: 1px solid #fff;
}

.input-field {
    background-color: #fff;
}